/* FONTS */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}


/* VARIABLES */

:root {
  --basic-black: #000;
  --basic-light-black: #231F20;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-dark-gray: #4D4D4D;
  --basic-gray: #666666;
  --basic-light-gray: #A6A6A6;

  --basic-extra-light: #E1E1E1;
  --basic-light: #EEEEEE;
  --add-light1: #DFDFDF;
  --add-light2: #D5D5D5;
  --add-light3: #DBDBDB;
  --add-light4: #D7DCDE;

  --basic-white: #fff;

  --special-dark: #D7373B;
  --special-neutral: #E74246;
  --special-light: #FB565A;

  --special1-dark: #00AA62;
  --special1-neutral: #00BC6C;
  --special1-light: #00CA74;

  --special2-dark: #E5A722;
  --special2-neutral: #EAB534;
  --special2-light: #EFC849;

  --shadow: rgba(0, 1, 1, 0.1);
  --border: rgba(0, 0, 0, 0.1);
  --shadow-product: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 0, 0, 0.4);

}


/* GLOBAL */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  width: 1440px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white)
}

.title {
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


/* buttons */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button:active span,
.button:focus span {
  opacity: 0.3;
}


/* prymary-button */

.primary-button {
  background-color: var(--special-light);
  color: var(--basic-white);
}

.primary-button:hover {
  background-color: var(--special-neutral);
}

.primary-button:active,
.primary-button:focus {
  background-color: var(--special-dark);
}


/* secondary-button */

.secondary-button {
  background-color: var(--basic-light);
  color: var(--basic-black);
}

.secondary-button:hover {
  background-color: var(--add-light1);
}

.secondary-button:active,
.secondary-button:focus {
  background-color: var(--add-light2);
}

/* button-shadow */
.primary-button:active,
.seconary-button:active {
  box-shadow: inset 0px 3px 0px var(--shadow);
}


/* Main-header */

.main-header {
  background-color: var(--basic-light);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover {
  opacity: 0.7;
  ;
}

.main-header-logo:active {
  opacity: 0.3;
  ;
}

.main-header-logo svg {
  fill: var(--basic-black);
}


/* Main-navigation */

.nav-list {
  list-style: none;
}

.nav-item {
  display: block;
}

.nav-option {
  color: var(--basic-black);
}

.nav-option:hover {
  color: var(--special-light);
}

.nav-option:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.nav-option.current {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--special-neutral)
}

.user-navigation svg {
  fill: var(--basic-light-gray);
}

/* Slider */

.page-main {
  margin: 0;
  padding: 0;
}

.main-slider {
  background-color: var(--basic-light);
  margin: 0;
}

.slider-list {
  list-style: none;
  margin: 0;
}

.slider-item .button {
  width: 240px;
}

.point-list {
  list-style: none;
}

.point-item button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50% 50%;
  border: none;
}

.point-item .current {
  background-image: url("../img/icons/point.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}


/* Services */

.services-list {
  list-style: none;
}

.services-item {
  display: block;
  text-align: right;
}

.services .title {
  font-size: 24px;
  line-height: 30px;
}

.services figure {
  margin: 0;
}

.services .button {
  width: 160px;
}

.button-app {
  background-color: var(--special1-light);
}

.button-app:hover {
  background-color: var(--special1-neutral);
}

.button-app:active,
.button-app:focus {
  background-color: var(--special1-dark);
}

.button-ppt {
  background-color: var(--special2-light);
}

.button-ppt:hover {
  background-color: var(--special2-neutral);
}

.button-ppt:active,
.button-ppt:focus {
  background-color: var(--special2-dark);
}


/* About us */

.about-us .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us .list-caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-list {
  list-style: none;
}

.about-us-list li::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 20px;
  background: url("../img/icons/list-marker.svg") center no-repeat;
}

.parameter_value {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}


/*Clients */

.horizontale-line {
  display: block;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light);
  margin-left: 141px;
}

.verticale-line {
  width: 2px;
  height: 52px;
  background-color: var(--basic-light);
}

.clients-list {
  list-style: none;
}

.clients-item a:hover {
  opacity: 0.2;
}

.clients-item a:active,
.clients-item a:focus {
  opacity: 0.1;
}


/* Contacts */

.contacts {
  display: block;
  width: 100%;
  height: 362px;
  background: url("../img/all/map&marker-min.png");
  padding: 0;
  padding-top: 54px;
  margin: 0;
}

.contacts .address {
  display: block;
  width: 269px;
  height: 259px;
  background-color: var(--basic-white);
  padding-top: 49px;
  padding-left: 50px;
  margin-left: 140px;
}

.contacts .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts .button {
  width: 219px;
  margin-top: 37px;
  align-self: center;
}

.contacts .phone,
address {
  color: inherit;
  font-style: inherit;
}


/* Social */

.social .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-list {
  list-style: none;
}

.social-button {
  width: 81px;
  height: 81px;
  border-radius: 50% 50%;
  padding: 0;
  background-color: var(--basic-extra-light);
}


/* Modal */

.modal {
  display: block;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px var(--shadow-modal);
  padding-top: 63px;
  padding-left: 100px;
  color: var(--basic-dark);
}

.modal .title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal .label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal .input {
  border: 2px solid var(--add-light4);
  box-sizing: border-box;
  border-radius: 3px;
}

.modal .input:focus {
  border-color: var(--basic-black);
}

.modal .input.error {
  color: var(--special-neutral);
  border-color: var(--special-neutral);
}

.modal .input-multyline {
  height: 118px;
}

.modal ::placeholder {
  color: var(--basic-dark);
  opacity: 0.5;
}

.modal .button {
  width: 259px;
}

.modal .close-button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  opacity: 0.3;
}


.modal .close-button:hover {
  opacity: 1;
}

.modal .close-button:active,
.modal .close-button:focus {
  opacity: 0.1;
}

.close-button svg {
  fill: var(--special-light);
}

/* C A T A L O G   P A G E */

/* FILTERS */

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Filter price */
.priceSlider {
  background-color: var(--basic-light);
  display: block;
  Width: 234px;
  Height: 42px;
  padding-left: 26px;
  padding-top: 38px;
}

.price {
  background-color: var(--basic-light);
  width: 80px;
  height: 38px;
  border-radius: 3px;
  border: none;
}

.label-price,
.price {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}


/* Filter button */
.option-button {
  background-color: transparent;
  color: var(--basic-extra-dark);
  opacity: 1;
  text-align: left;
}

.option-button::before {
  opacity: 0.4;
}

.option-button:hover::before {
  opacity: 1;
}

.filters input:disabled+.option-button {
  opacity: 0.1;
}

.submit-button {
  width: 260px;
}

/* radio-button */
.grid-item .option-button::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio.svg");
}

.grid-item input:checked+.option-button::before {
  background-image: url("../img/icons/radio-checked.svg");
}


/* check-button */
.features-item .option-button::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/uncheck.svg");
}

.features-item input:checked+.option-button::before {
  background-image: url("../img/icons/check.svg");
}


/* SORT */

.sort-button+label {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
}

.sort-button:hover+label {
  opacity: 0.6;
}

.sort-button:active+label,
.sort-button:checked+label {
  opacity: 1;
}

.fields-order svg {
  fill: var(--basic-black);
}



/* PRODUCTS */

/* product-item */
.product-item {
  display: block;
  width: 358px;
  height: 618px;
}

.product-item:hover {
  box-shadow: 0px 6px 15px var(--shadow-product);
  border: none;
}


.product-img {
  border: 1px solid var(--border);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  position: relative;
  z-index: 2;
}

.product-item:hover .product-img {
  z-index: 0;
}

/* product-header */
.product-header {
  width: 360px;
  height: 40px;
  background-color: var(--basic-dark-gray);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.12;
  position: relative;
}

.round {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
  position: absolute;
  top: 13px;
}

.round-1 {
  left: 16px;
}

.round-2 {
  left: 39px;
}

.round-3 {
  left: 62px;
}

.product-item:hover .product-header {
  opacity: 1;
}



/* product-label */
.product-label {
  position: relative;
  width: 360px;
  height: 205px;
  background-color: var(--basic-light);
  padding-top: 26px;
  margin-top: -235px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

.product-label .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  opacity: 1;
  text-align: center;
}

.product-label .title:hover {
  color: var(--special-light);
}

.product-label .title:active {
  color: var(--basic-black);
  opacity: 0.3;
}


.product-label p {
  color: var(--basic-gray);
  text-align: center;
}

.product-label .button {
  width: 200px;
  margin-left: 80px;
}



/* PAGINATION */

.pagination-item .button {
  width: 50px;
}

.pagination-item.current .button {
  background: var(--basic-white);
  border: 3px solid var(--add-light3);
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination-item.next .button {
  width: 260px;
}
